@page "/"
@using erTw.Twitter.Lib
@using 
@inject Twitter

<h2>Twitter Home</h2>


@functions{
    const string ConsumerKey = "cpPeZ6vPXUPbwbiAKrvBvw";
    const string ConsumerKeySecret = "X6jWAvQPpXyfJaznRtR67mGK6AQLkp3HSMpzf1AFY";
    const string AccessToken = "51357501-ZlzXYYQNJwBrtO1mWmQGfdZxvt6OnxzVEg2g564nI";
    const string AccessTokenSecret = "fhb1CAkVSZuoeb5jjWuEWQLxYZACSUeQ1r7fPD0";

    private Twitter twitter = new Twitter(ConsumerKey, ConsumerKeySecret, AccessToken, AccessTokenSecret);
    
    private string response = twitter.GetTweetsHome("rodriguezefs", 100);

    List<Tweet> timeline = JsonConvert.DeserializeObject(response);

}