<li class="list-group-item">
    <div class="media m-4">
        <img src="@Value.user.profile_image_url" class="mr-3" />
        <div class="media-body">
            <h5>@Value.user.name <small>@@@Value.user.screen_name</small></h5>
            <small>@Value.created_at</small>
            <p>@Value.text</p>
        </div>
    </div>
</li>

@code {
    [Parameter]
    public Tweet Value { get; set; }

}
